<!--
    Written by @bysrhq
    2016, STMIK IKMI Cirebon
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Meta Tag Description -->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title>List | Todo List Application</title>
    </head>
    <body>
        <div>
            <h2>Navigation</h2>
            <ul>
                <li><a th:href="@{/new}" href="toDoForm.html">Add New ToDo</a></li>
            </ul>
        </div>
        <hr/>
        <div th:each="toDo, toDoStat : ${toDos}">
            <h2 th:text="${toDo.title}">ToDo Title</h2>
            <ul th:each="toDoItem, toDoItemStat : ${toDo.toDoItems}">
                <li th:text="${toDoItem.item}"></li>
            </ul>
        </div>
    </body>
</html>
